.v77_1495 {
    top: 0px;
    left: 0px;
    position: absolute;
    background: rgba(255,255,255,1);
    width: 360px;
    height: 46px;
    overflow: hidden;
}
.v77_1496 {
    width: 176px;
    height: 20px;
    top: 4px;
    left: 55px;
    color: #383838;
    position: absolute;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    opacity: 1;
    overflow: hidden;
}
.v77_1497 {
    width: 85px;
    height: 17px;
    top: 25px;
    left: 56px;
    color: #c6c6c6;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    position: absolute;
    overflow: hidden;
}
.v77_1498 {
    width: 62px;
    height: 24px;
    top: 11px;
    left: 298px;
    color: #383838;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    opacity: 1;
    position: absolute;
    overflow: hidden;
}
.v77_1499 {
    height: 41px;
    width: 55px;
    left: 0px;
    top: 3px;
    border-radius: 0px;
    position: absolute;
    overflow: hidden;
}