.v40_72 {
    width: 1440px;
    height: 279px;
    margin: auto;
    background: rgba(83,83,83,1);
    opacity: 1;
    position: relative;
    top: 0px;
    overflow: hidden;
}
.v40_89 {
    width: 360px;
    height: 55px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 61px;
    left: 930px;
    overflow: hidden;
}
.v40_92 {
    width: 16px;
    height: 16px;
    background: transparent;
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 340px;
    overflow: hidden;
    background: url("/images/search.svg");
}
.v40_95 {
    width: 72px;
    color: rgba(197,197,197,1);
    position: absolute;
    top: 35px;
    left: 0px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v40_96 {
    width: 83px;
    color: rgba(197,197,197,1);
    position: absolute;
    top: 35px;
    left: 98px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v40_97 {
    width: 80px;
    color: rgba(197,197,197,1);
    position: absolute;
    top: 35px;
    left: 207px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v40_98 {
    width: 156px;
    height: 134px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 61px;
    left: 522px;
    overflow: hidden;
}
.v40_99 {
    width: 135px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v40_100 {
    width: 37px;
    color: rgba(197,197,197,1);
    position: absolute;
    top: 29px;
    left: 0px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v40_101 {
    width: 142px;
    color: rgba(197,197,197,1);
    position: absolute;
    top: 51px;
    left: 0px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v40_102 {
    width: 156px;
    color: rgba(197,197,197,1);
    position: absolute;
    top: 73px;
    left: 0px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v40_103 {
    width: 84px;
    color: rgba(197,197,197,1);
    position: absolute;
    top: 95px;
    left: 0px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v40_104 {
    width: 41px;
    color: rgba(197,197,197,1);
    position: absolute;
    top: 117px;
    left: 0px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v40_105 {
    width: 135px;
    height: 112px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 61px;
    left: 741px;
    overflow: hidden;
}
.v40_106 {
    width: 135px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v40_107 {
    width: 54px;
    color: rgba(197,197,197,1);
    position: absolute;
    top: 29px;
    left: 0px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v40_108 {
    width: 64px;
    color: rgba(197,197,197,1);
    position: absolute;
    top: 51px;
    left: 0px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v40_109 {
    width: 65px;
    color: rgba(197,197,197,1);
    position: absolute;
    top: 73px;
    left: 0px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v40_110 {
    width: 46px;
    color: rgba(197,197,197,1);
    position: absolute;
    top: 95px;
    left: 0px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v40_73 {
    width: 243px;
    color: rgba(116,116,116,1);
    position: absolute;
    top: 216px;
    left: 770px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v40_74 {
    width: 249px;
    color: rgba(116,116,116,1);
    position: absolute;
    top: 216px;
    left: 1041px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v40_83 {
    width: 144px;
    height: 55px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 61px;
    left: 150px;
    overflow: hidden;
    background: url("/images/name2.svg");
}
.v40_87 {
    width: 263px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 131px;
    left: 149px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 32px;
    opacity: 1;
    text-align: left;
}
.v40_88 {
    width: 190px;
    color: rgba(116,116,116,1);
    position: absolute;
    top: 178px;
    left: 150px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}

a {
    text-decoration: none; /* Убираем подчёркивание */
}
input {
    outline: none;
    border: none;
}
.v40_44 {
    background: transparent;
    border-bottom: 1px solid #C5C5C5;
    position: relative;
    width: 360px;
    height: 26px;
    font-family: Montserrat;
    font-weight: 400;
    color: #C5C5C5;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v40_44:focus {
    border-bottom: 2px solid #C5C5C5;
}

::placeholder {
    color: #C5C5C5;
}