.v61_347 {
    width: 1440px;
    margin: auto;
    height: 83px;
    background: linear-gradient(90deg, rgba(216,84,97,1) 0%, rgba(241,172,85,1) 100%);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v61_348 {
    width: 57px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 30px;
    left: 922px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v61_349 {
    width: 62px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 30px;
    left: 963px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}
.v61_350 {
    width: 176px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 30px;
    left: 1020px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}
.v61_351 {
    width: 144px;
    height: 55px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 159px;
    overflow: hidden;
    background: url("/images/name.svg");
}
.v61_395 {
    width: 22px;
    height: 20px;
    opacity: 1;
    position: absolute;
    top: 30px;
    left: 1232px;
    overflow: hidden;
    background: url("/images/basket.svg");
}
.v61_356 {
    width: 24px;
    height: 24px;
    opacity: 1;
    position: absolute;
    top: 28px;
    left: 1266px;
    overflow: hidden;
    background: url("/images/user.svg");
}
.v1_400 {
    color: #ffffff;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 10px;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 16px;
}