.v30_0 {
    background: transparent;
    width: 263px;
    position: absolute;
    height: 203px;
    top: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.v30_1 {
    color: #383838;
    position: absolute;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 20px;
    top: 189px;
    opacity: 1;
    overflow: hidden;
}
.v30_2 {
    color: #383838;
    position: absolute;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 10px;
    top: 231px;
    opacity: 1;
}
.v30_3 {
    color: #383838;
    position: absolute;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 24px;
    top: 260px;
    opacity: 1;
}
.v30_4 {
    color: #383838;
    position: absolute;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 16px;
    top: 276px;
    left: 32px;
    opacity: 1;
}
.v30_5 {
    width: 89px;
    height: 17px;
    color: #c6c6c6;
    position: absolute;
    font-family: Montserrat;
    font-weight: 600;
    top: 279px;
    left: 173px;
    font-size: 14px;
    opacity: 1;
    text-align: right;
}
.v30_6 {
    width: 263px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 320px;
    left: 0px;
    overflow: hidden;
}
.v30_7 {
    width: 263px;
    height: 35px;
    background: linear-gradient(90deg, rgba(216,84,97,1) 0%, rgba(241,172,85,1) 100%);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}
.v30_8 {
    width: 170px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 44px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v30_12 {
    background: transparent;
    position: absolute;
    opacity: 1;
    top: 0px;
    left: 0px;
    width: 263px;
    height: 347px;
}