<!DOCTYPE html><html>
<head>
<title>Admin Panel</title>
<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,650,700,800,900" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
         <link rel="stylesheet" href="/css/admins.css">
</head>
    <body>
        <div class="v2_17">

                        <div class="v2_20">
                         <span class="v2_209">Баллы</span>
                         <div class="v70_1"></div>

                            <table class="table">
                            <thead>
                            <tr>
                            <th>Дата</th>
                            <th>Телефон</th>
                            <th>Транзакция</th>
                            <th>Баллы</th>
                            </tr>
    </thead>
        <tbody>
                           <!-- <tr th:each="lst : ${accesses}">
                             <td th:utext="${lst.user.userCode}">Код пользователя</td>
                             <td th:utext="${lst.user.firstName}">Имя</td>
                             <td th:utext="${lst.phone}">Телефон</td>
                              --><!-- <td th:text="${accesses.user.firstName}">Баллы</td> --><!--
                             <td th:utext="${lst.user.dateOfBirth}">ДР</td>
                             <td th:utext="${lst.user.email}">Почта</td>
                             <td th:utext="${lst.user.inviteCode}">Код приглашения</td>
                           </tr> -->
                           </tbody>
                        </table>
                        </div>

            <div class="v2_18">
            <div class="v70_0"></div>
            <img class="v80_1" th:src="@{/images/menu.svg}"/>
            <a href="/admin/menu" class="v2_210">Меню</a>
            <img class="v80_1" style="top:531px;" th:src="@{/images/mng.svg}"/>
            <a href="/admin/actions" class="v2_218">Маркетинг</a>
            <img class="v80_1" style="top:1076px;" th:src="@{/images/exit.svg}"/>
            <a href="/menu/rolls" class="v2_229">Выход</a>
            <img class="v80_1" style="top:729px;" th:src="@{/images/client.svg}"/>

            <a href="/admin/clients" class="v2_222">Работа с клиентами</a>

            <img class="v80_1" style="top:916px;" th:src="@{/images/setadmin.svg}"/>
            <a href="/admin/main" class="v2_226">Настройки</a>

            <a href="/admin/menu/rolls" class="v2_212">Роллы</a>
            <a href="/admin/menu/sushi" class="v2_213">Суши</a>
            <a href="/admin/menu/woks" class="v2_214">Рис Wok</a>
            <a href="/admin/menu/soups" class="v2_215">Супы</a>
            <a href="/admin/menu/sauces" class="v2_217">Соусы</a>
            <a href="/admin/menu/drinks" class="v2_216">Напитки</a>
            <a href="/admin/menu/sets" class="v2_211">Сеты</a>

            <a href="/admin/program" class="v2_219">Программа лояльности</a>

            <a href="/admin/actions" class="v2_220">Акции и скидки</a>
            <a href="/admin/stats" class="v2_221">Стастистика</a>

            <a href="/admin/clients" class="v2_223">Наши клиенты</a>
            <a href="/admin/orders" class="v2_224">Заказы</a>
            <a href="/admin/points" class="v2_225">Баллы</a>

            <a href="/admin/main" class="v2_227">Главные</a>
            <a href="/admin/payments" class="v2_228">Формы оплаты</a>
            <a href="/admin/menu">
                <div class="v2_19"></div>
            </a>
            </div>
        </div>
    </body>
</html>