 <div th:fragment="authorization" class="window">
      <form th:action="@{/authorization}" method="post">
                <div class="v1_3">
                <!-- username -> phone -->
                    <input required id="phone" type="tel" name="username" class="v1_5" maxlength="19" pattern="^\+375(\s+)?\(?(17|25|29|33|44)\)?(\s+)?[0-9]{3}-?[0-9]{2}-?[0-9]{2}$" placeholder="Номер телефона">

                    <script src="https://unpkg.com/imask"></script>
                     <script>
                         var element = document.getElementById('phone');
                         var maskOptions = {
                           mask: '+{375} (00) 000-00-00'
                         };
                         var mask = IMask(element, maskOptions);
                     </script>
                </div>

                <div class="v1_6">
                    <input required type="password" id="password-input" name="password" class="v1_5" maxlength="20" placeholder="Пароль">
                    <a href="#" class="password-control"></a>

                    <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
                    <script>
                    $('body').on('click', '.password-control', function(){
                    	if ($('#password-input').attr('type') == 'password'){
                    		$(this).addClass('view');
                    		$('#password-input').attr('type', 'text');
                    	} else {
                    		$(this).removeClass('view');
                    		$('#password-input').attr('type', 'password');
                    	}
                    	return false;
                    });
                    </script>
                </div>

                <div class="v1_9">
                    <input class="v1_11" type="submit" value="Авторизироваться">
                </div>

                <div class="v1_12">
                    <a href="#registration">
                    <input class="v1_14" type="button" value="Создать аккаунт">
                    </a>
                </div>

                <span class="v1_15">Авторизация</span>
      </form>
</div>


<div th:fragment="registration" id="registration">
  <a href="#" class="close"></a>
  <div id="window-reg">
    <div th:insert="blocks/registration :: registration"></div>
  </div>
</div>