<div th:fragment="footer">
  <footer>
              <div class="v40_72">
                  <div class="v40_89">
                          <input id="search" type="text" name="search" class="v40_44" maxlength="19" placeholder="Поиск">
                              <div class="v40_92">
                                  <img src="../static/images/search.svg" th:src="@{images/search.svg}"/>
                              </div>
                          <a class="v40_95" href="#">Новости</a>
                          <a class="v40_96" href="#">Вакансии</a>
                          <a class="v40_97" href="#">Контакты</a>
                  </div>

                  <div class="v40_98">
                          <span class="v40_99">Японское меню</span>
                          <a class="v40_100" href="#">Сеты</a>
                          <a class="v40_101" href="#">Роллы фирменные</a>
                          <a class="v40_102" href="#">Роллы классические</a>
                          <a class="v40_103" href="#">Кингроллы</a>
                          <a class="v40_104" href="#">Суши</a>
                  </div>
                  <div class="v40_105">
                          <span class="v40_106">Дополнительно</span>
                          <a class="v40_107" href="#">Салаты</a>
                          <a class="v40_108" href="#">Напитки</a>
                          <a class="v40_109" href="#">Десерты</a>
                          <a class="v40_110" href="#">Соусы</a>
                  </div>

                      <a class="v40_73" href="#">Политика конфиденциальности</a>
                      <a class="v40_74" href="#">Правила программы лояльности</a>

                  <div class="v40_83">
                          <img src="../static/images/name2.svg" th:src="@{images/name2.svg}"/>
                      </div>

                      <span class="v40_87">8-017-555-35-35</span>
                      <span class="v40_88">Доставка с 8:00 до 21:00</span>
              </div>
              </footer>
</div>