<div th:fragment="header">
    <header>
        <div class="v61_347">
            <a class="v61_348" href="">Меню</a>
           <a class="v61_349" href="">Акции</a>
           <a class="v61_350" href="">Доставка и оплата</a>

            <div class="v61_355">
                 <a href="/authorization">
                 <img src="../static/images/user.svg" th:src="@{images/user.svg}"/>
                 </a>
            </div>

            <div class="v61_351">
                <img src="../static/images/name.svg" th:src="@{images/name.svg}"/>
            </div>
        </div>
    </header>
</div>