<div th:fragment="product" class="v30_12">
    <div class="v30_0">
        <img src="../static/images/sushi.svg" th:src="@{images/sushi.svg}"/>
    </div>

    <div>
        <p class="v30_1">Мураками сет</p>
        <p class="v30_2">Ролл в сыре чеддер со сливочным сыром, огурцом, цыплёнком ким чи,
                                  соусом блю чиз и картофелем пай Ролл в томате и базилике </p>
        <p class="v30_3">25</p>
        <p class="v30_4">BYN</p>
        <p class="v30_5">18 шт / 350 г</p>
    </div>
<!--     <div class="v30_6">
        <div class="v30_7"></div>
        <span class="v30_8">Добавить в корзину</span>
    </div> -->
</div>