<div th:fragment="registration" class="v26_2">
                <div class="v26_3">
                    <div class="v26_4"></div>
                </div>

            <div class="v26_7">
                <div class="v26_8"></div>
            </div>

            <form>
                <div class="v26_11">
                    <input id="phone" type="tel" name="phone" class="v26_13" maxlength="19"
                           pattern="^\+375(\s+)?\(?(17|25|29|33|44)\)?(\s+)?[0-9]{3}-?[0-9]{2}-?[0-9]{2}$"
                           placeholder="Введите Ваш номер телефона">

                    <script src="https://unpkg.com/imask"></script>
                     <script>
                         var element = document.getElementById('phone');
                         var maskOptions = {
                           mask: '+{375} (00) 000-00-00'
                         };
                         var mask = IMask(element, maskOptions);
                     </script>
                </div>

                <div class="v26_26">
                <input id="name" type="text" name="name" class="v26_13" maxlength="19"
                                   placeholder="Введите Ваше имя">
                </div>

                <div class="v26_14">
                <input id="password" type="password" name="password" class="v26_13" maxlength="19"
                                                           placeholder="Введите пароль">
                </div>

                <div class="v26_17">
                    <input id="confirm-password" type="password" name="confirm_password" class="v26_13" maxlength="19"
                                                   placeholder="Повторите пароль">
                </div>

                <div class="v26_20">
                        <input id="dob" type="text" name="dob" class="v26_13" maxlength="19"
                                           placeholder="Дата рождения">
                </div>

                <div class="v26_23">
                                <input id="mail" type="text" name="mail" class="v26_13" maxlength="19"
                                                   placeholder="Почта">
                </div>

                <span class="v26_29">Регистрация</span>

                <div class="v26_30">
                   <input class="v26_32" type="submit" value="Создать аккаунт">
                </div>

                <div class="v26_33">
                    <input id="code" type="text" name="code" class="v26_41" maxlength="6">
                </div>

                <span class="v26_34">Код пригласившего</span>

            </form>

            <div class="v26_35">
                <div class="v26_36"></div>
            </div>

            <div class="v26_39">
                <div class="v26_40"></div>
            </div>
</div>